# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/.idea.JumpDriveInhibitor.iml
/contentModel.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\Tails\Desktop\JDImk1\Data\Scripts\.idea\.idea.JumpDriveInhibitor\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
